.btn {
  padding: 1rem 2.5rem;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.3s;

  &:hover {
    opacity: 0.9;

    @media (max-width: 700px) {
      opacity: 1;
    }
  }

  &--primary {
    background-color: rgb(50, 132, 255);
    color: $color-white;
  }
  
  &--secondary {
    background-color: $color-gray-dark;
    color: $color-white;
  }

  &--light {
    background-color: $color-white;
    color: $color-black;
  }
}