.newsletter {
	background-color: $color-black;
	color: $color-gray-light;

	&__message {
		display: inline;

		@media (max-width: 424px) {
			display: block;
			margin-bottom: 1rem;
			margin-right: 0;
		}
	}

	&__btn {
		display: inline;
	}

	&__content {
		@media (max-width: 424px) {
			padding: 1rem;
		}
	}
}
